*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   --grey-background: #555;
   --peach-detailing: #F5B3A3;
   --form-background: #2279a2;
   --button: #339954;
   --charcoal: #222;
   --delete-btn: #a22d2d;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    margin: 6rem 0;
    background-color: var(--grey-background);
    width: 100%;
    color: #fff;
}

#heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

#heading-container h1{
    padding: 2rem 0;
    font-size: 4rem;
}

#heading-container p{
    font-size: 1.75rem;
    color: var(--peach-detailing);
}

#expense-form{
    background-color: var(--form-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 40%;
    padding: 3rem 0;
    border: 2px solid var(--peach-detailing);
    border-radius: 0.25rem;
}

#expense-form input{
    font-size: 1.4rem;
    margin: 0.7rem 0;
    padding: 1.3rem 3rem;
    padding-left: 0.7rem;
    height: 2rem;
    border: none;
    border-radius: 0.25rem;
}

#expense-form input::placeholder{
    font-size: 1rem;
    opacity: 1;
    text-align: left;
}

#expense-form button{
    padding: 1rem 3rem;
    margin-top: 3rem; 
    font-size: 1rem;
    background-color: var(--button);
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

#expense-list{
    background-color: var(--charcoal);
    margin: 3rem 0;
    width: 40%;
    padding: 3rem 0;
    padding-left: 2.5rem;
}

.expense-item{ 
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
    margin: 0.5rem 0;
}

.delete-btn{
    cursor: pointer;
    margin-left: 2rem;
    background-color: var(--delete-btn);
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 0.25rem;
}

